
.gradient {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(C:\Users\User\Documents\projects\new_resume\resume\src\assets\images\images.jpg);
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}
